<div class="row">
  <div class="large-10 columns">
    <h2 class="subheader">Sobre</h2> 
    <h3 class="subheader">Projecto</h3>
    <p>Este projecto foi desenvolvido no âmbito do IJUP 2013.</p>
    <h3 class="subheader">Problema</h3>
    <p>O projecto follow.up tem como contexto prático o caso da Universidade do Porto (UP), uma grande organização constituída por dezenas de unidades orgânicas, mais de 30 mil estudantes inscritos e mais de 4 mil funcionários.</p>
    <p>A existência de inúmeros produtores de informação, distribuídos de forma independente pelas diversas unidades, origina vários problemas. Por um lado, potencia a duplicação de conteúdos uma vez que é possível encontrar a mesma informação difundida por mais do que uma fonte. Por outro lado, o consumo de informação é dificultado devido à grande quantidade de canais concorrentes.</p>
    <h3 class="subheader">Objectivos</h3>
    <p>Os objectivos principais do projecto follow.up passam por minimizar a dispersão e duplicação de informação assim como optimizar o consumo dessa mesma informação.</p>
    <p>Para abordar o primeiro problema, foram desenvolvidas ferramentas que recolhem, armazenam e consolidam automaticamente numa única base de dados as notícias publicadas pelos canais institucionais da plataforma SIGARRA de diferentes unidades orgânicas.</p>
    <p>Já no que respeita à optimização do consumo de informação, foi desenvolvida uma aplicação Web que facilita a consulta individual e centralizada da informação produzida pelas múltiplas fontes.</p>
    <h3 class="subheader">Autores</h3>
    <dl>
      <dt>Tiago Devezas</dt>
      <dd>Licenciatura em Ciências da Comunicação, vertente Multimédia, Universidade do Porto</dd>
      <dt>Sérgio Nunes</dt>
      <dd>Faculdade de Engenharia, Universidade do Porto</dd>
      <dt>Bruno Giesteira</dt>
      <dd>Faculdade de Belas Artes, Universidade do Porto</dd>
    </dl>
  </div>

</div>